body {
    background-image: url(../images/404.png);
}
.error {
    display: flex;
    justify-content: center;
    margin-top: 350px;
    background: white;
    border-radius: 10px;
}
.login {
    font-size: 30px;
    font-weight: bold;
}