body {
    background: #e3f5ff;
}
.icon {
    display: flex;
    justify-content: center;
    background: #e3f5ff;
    margin: 40px 0;
}
.icon-title {
    width: 200px;
    height: 200px;
    overflow: hidden;
    margin: 10px 0;
    border-radius: 999em;
    background: #84edda;
    cursor: pointer;
    object-fit: cover;
    border: 0;
}
.icon-title:hover {
    color: #ffffff;
}
.confirm {
    display: flex;
    justify-content: center;
    background: #e3f5ff;
}
.confirm-data {
    display: flex;
    flex-direction: column;
}
.name {
    background: #e3f5ff;
    border: none;
    border-bottom: solid 1px black;
    margin: 5px 0;
}
.data {
    background: #e3f5ff;
    border: none;
    border: solid 1px #817f7f;
    color: #817f7f;
    margin: 5px 0;
    width: 100%;
}
.confirm-data select {
    background: #e3f5ff;
    margin: 4px 0;
}
select {
    color: #817f7f;
}
.signUp {
    display: flex;
    justify-content: center;
    background: #e3f5ff;
}
.signUp-button {
    padding: 4px 45px;
    background: #84edda;
    margin: 10px 0;
    font-weight: 600;
    font-size: 15px;
    color: #555555;
    border: 0;
    cursor: pointer;
}
.error {
    display: flex;
    justify-content: center;
    height: 30px;
}
.sign-up-error {
    font-weight: bold;
    font-size: 20px;
    color: #ff0000;
    height: 30px;
}
