body {
    background: #e3f5ff;
}
.back-button {
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    left: 30px;
    bottom: 2px;
}
.icon {
    display: flex;
    justify-content: center;
    margin: 40px 0 20px 0;
}
.icon-title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    width: 300px;
    font-size: 200px;
    color: rgb(253, 231, 235);
    margin: 10px 0;
    padding: 20px;
    border-radius: 999em;
    background: rgb(253, 139, 158);
}
.signUp {
    display: flex;
    justify-content: center;
    background: #e3f5ff;
}
.signUp-data input {
    background: #e3f5ff;
    border: none;
    border-bottom: solid 1px black;
    margin: 5px 0;
}
.signUp-data {
    display: flex;
    flex-direction: column;
}
.signUp-color {
    padding: 4px 45px;
    background: #84edda;
    margin: 10px 0;
    font-weight: 600;
    color: #555555;
    border: 0;
    cursor: pointer;
}
.error {
    display: flex;
    justify-content: center;
    height: 30px;
}
.sign-up-error {
    font-weight: bold;
    font-size: 20px;
    color: red;
    height: 30px;
}
