.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 130px;
}
.display-by {
    font-size: 20px;
    padding: 0;
}
.btn {
    background: white;
}
.available-dating {
    padding: 0 5%;
    font-size: 30px;
    width: 100%;
    margin: 15px;
}
.available-dating-content {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 15px;
    padding: 5px 0;
}
.available-dating-content div {
    padding: 0 5%;
    font-size: 14px;
}
.available-dating-content-other {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    border-radius: 15px;
    padding: 5px 0;
}
.available-dating-content-other div {
    padding: 0 5%;
    font-size: 14px;
}
.available-dating-content-other .activity-date {
    padding: 0;
}
.join-user {
    padding: 0 5%;
    font-size: 20px;
}
.activity-text-color {
    background-color: #ffffff;
    margin-top: 5px;
    padding: 10px;
    border-radius: 15px;
}
.select-dating {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 10px;
    margin: 20px;
    border-radius: 15px;
    width: 200px;
    background: rgb(251, 233, 252);
}
.select-dating-single {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 15px 30px;
    margin: 20px 0;
    border-radius: 15px;
    width: 300px;
    background: rgb(251, 233, 252);
    cursor: pointer;
}
.select-dating-box {
    display: flex;
    flex-wrap: wrap;
    max-width: 95%;
    min-width: 300px;
}
.icon-small {
    border: 5px solid;
    border-color: pink;
    border-radius: 999em;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background: white;
    margin: 0 10px;
    object-fit: cover;
}
.display-name {
    font-size: 20px;
}
.gender-age {
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    background: pink;
    border-radius: 20px;
    border: 5px solid rgb(255, 122, 145);
    width: 70px;
}
.col-12 {
    position: unset;
}
.select-dating-content {
    width: 100%;
}
.select-dating-join {
    background: rgb(108, 189, 108);
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}
.select-dating-confirmUser {
    background: rgb(108, 189, 108);
    width: 100%;
    display: flex;
    justify-content: center;
    border-radius: 50px;
    cursor: pointer;
}
.confirmBtn {
    border-radius: 100px;
    text-align: center;
    color: white;
}
.select-dating-matched div {
    width: 100px;
    border-radius: 100px;
    text-align: center;
    color: white;
    margin: 10px;
}
.dating-matched-select {
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.select-date-cancel {
    background: rgb(247, 109, 109);
    border-radius: 20px;
}
.select-date-completed {
    background: rgb(133, 182, 255);
    border-radius: 20px;
}
body {
    background: #eef7fc;
}
.display-format-btn {
    position: sticky;
    top: 50px;
}
.post-dating {
    height: 50px;
    width: 100%;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: fixed;
    bottom: 80px;
    background: #eef7fc;
}
.post-dating div {
    width: min(50%, 300px);
    background: rgb(108, 189, 108);
    border-radius: 25px;
    text-align: center;
    color: white;
}
.display-flex {
    display: flex;
    align-items: center;
}
.select-friend {
    padding: 10px;
    margin: 5%;
    border: 5px solid;
    border-radius: 15px;
    border-color: gray;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 40%;
    background: rgb(251, 233, 252);
}
.select-date-confirm {
    background: rgb(108, 189, 108);
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 20px;
}
.select-date-chat {
    background: rgb(108, 189, 108);
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 20px;
}
.confirmBtn .approving-activities {
    background: rgb(108, 189, 108);
    width: 100%;
    height: 100%;
    cursor: pointer;
}
.approving-activities {
    background: rgb(147, 190, 255);
    width: 100%;
    border-radius: 50px;
    text-align: center;
}
.display-none {
    display: none;
}
