body {
    background: #e3f5ff;
}
.add-group-data {
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 30px 30px;
}
.add-group-data #groupName {
    margin: 10px 0;
    background: #e3f5ff;
    border: none;
    border: solid 1px black;
    height: 28px;
}
.add-group-data #output_image {
    font-size: 10px;
}
.add-group-data #output_image:hover {
    color: #555555;
}
.add-group-data textarea {
    margin: 10px 0;
    background: #e3f5ff;
    border: none;
    border: solid 1px black;
}
.add-group-data select {
    margin: 10px 0;
    background: #e3f5ff;
    border: none;
    border: solid 1px black;
}
.add-group {
    display: flex;
    justify-content: center;
}
.add-group-button {
    background: #73bb68;
    padding: 5px 40px;
    display: flex;
    justify-content: center;
    color: white;
    border: none;
    cursor: pointer;
}
.back-button {
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    left: 30px;
    bottom: 2px;
}
.error {
    display: flex;
    justify-content: center;
    height: 30px;
    margin-top: 5px;
}
.sign-up-error {
    font-weight: bold;
    font-size: 20px;
    color: #239b56;
    height: 30px;
}
.flexName {
    display: flex;
    align-items: center;
}
.icon-small {
    border: 5px solid;
    border-color: #239b56;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    overflow: hidden;
    background: white;
    object-fit: cover;
    margin-right: 5px;
    cursor: pointer;
}
