.select-Activity-btn {
    background: rgb(202, 255, 255);
    width: 30%;
    margin: 10px;
    border: 5px solid gray;
    padding: 10px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.select-Activity-btn div {
    font-size: 20px;
}
img {
    width: 100%;
    filter: grayscale(50%) contrast(0%);
}
img:hover {
    filter: grayscale(0%);
}
.main-container {
    height: 500px;
    display: flex;
    align-items: center;
}
