.main-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
}
.display-by {
    font-size: 20px;
    padding: 0;
}
.btn {
    background: white;
}
.col-12 {
    position: unset;
}
body {
    background: #eef7fc;
}
.display-format-btn {
    position: sticky;
    top: 50px;
}
.search-color {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #c6e3ff;
    margin: 0 0 10px 0;
    position: sticky;
    top: 50px;
}
.search-group {
    color: #9a9a9a;
    padding: 10px 10px;
    display: flex;
}
.search-group input {
    background: #c6e3ff;
    border: none;
}
.add-group {
    cursor: pointer;
    font-weight: bold;
}
.group-data {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.group-icon {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    background: #84edda;
    margin: 5px 5px 5px 15px;
}
.group-icon-load-other {
	width: 50px;
    height: 50px;
    margin: 5px 5px 5px 15px;
    border-radius: 999em;
    border: solid 5px #84edda;
	display: flex;
	align-items: center;
	justify-content: center;
}
.group-icon-load-other img {
    width: 40px;
    height: 40px;
    border-radius: 80px;
    object-fit: cover;
}
.group-icon-load {
    width: 50px;
    height: 50px;
    margin: 5px 5px 5px 15px;
    border-radius: 999em;
    border: solid 5px #84edda;
    object-fit: cover;
}
.group-name-message {
    margin: 5px 5px 5px 15px;
}
.group-name {
    font-weight: bold;
}
.group-message-new {
    color: #00e817;
}
.group-message-loaning {
    color: red;
}
.group-message-loaning-2 {
    color: #808080;
}
.join {
    padding: 3px 7px;
    background: #28a745;
    margin-right: 10px;
}
.wait-to-join {
    margin-right: 10px;
    color: #d5d8dc;
}
.groupFlex {
    display: flex;
}
.none {
    display: none;
}
