.spaceBetween {
    display: flex;
    justify-content: space-between;
}
.main-container {
    display: flex;
    justify-content: center;
}
.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}
.form-container * {
    margin: 10px;
    height: 50px;
}
.form-container textarea {
    height: 200px;
}
.submit-dating {
    width: 300px;
}
.new-dating-form {
    width: 90%;
}
.error {
    display: flex;
    justify-content: center;
    height: 30px;
}
.sign-up-error {
    font-weight: bold;
    font-size: 20px;
    color: #239b56;
    height: 30px;
}
