body .show-first-full-display {
    display: block;
}
.first-full-display {
    position: absolute;
    bottom: auto;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}
.signUp-container {
    text-align: center;
    background: rgba(173, 173, 173, 0.1);
    box-shadow: 0 0 7px rgb(0 0 0 / 80%);
    padding-top: 15px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 5px;
    position: relative;
    height: 210px;
    width: 400px;
}
.signUp-container .header {
    color: #161616;
    font-size: 18px;
    margin-bottom: 10px;
}
.signUp-container #reset-password-form {
    margin-bottom: 0;
}
.signUp-container #reset-password-form .same-line {
    display: flex;
    margin-bottom: 0;
    flex-wrap: wrap;
    justify-content: center;
}
.signUp-container #reset-password-form .same-line .information {
    display: block;
    width: 100%;
}
.signUp-container #reset-password-form .same-line .information .signUp-data {
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    font-size: 14px;
}
.signUp-container #reset-password-form .same-line .information .signUp-data input {
    margin-bottom: 1px;
    margin-left: 3px;
    background: none;
    outline: none;
    border-radius: 2px;
    border: solid #000000 1px;
    color: #161616;
    padding: 0px 0px 1px 2px;
    box-shadow: inset 0 0 7px rgb(0 0 0 / 30%);
}
.signUp-container #reset-password-form .same-line .information .signUp-data .password-input {
    width: 151px;
    height: 24px;
    text-align: left;
}
.signUp-container #reset-password-form .same-line .information .signUp-data-retype {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}
.signUp-container #reset-password-form .same-line .information .signUp-data-retype input {
    margin-left: 3px;
    background: none;
    outline: none;
    border-radius: 2px;
    border: solid #000000 1px;
    color: #161616;
    padding: 0px 0px 1px 2px;
    box-shadow: inset 0 0 7px rgb(0 0 0 / 30%);
}
.signUp-container #reset-password-form .same-line .information .show-unMatch-password {
    font-size: 13px;
    height: 20px;
    color: #ff0000;
}
.signUp-container #reset-password-form .confirm-button input {
    background: none;
    border: none;
    cursor: pointer;
    color: #161616;
    outline: none;
}
.signUp-container #reset-password-form .confirm-button input:hover {
    color: #ffcc00;
}
body .show-second-full-display {
    display: block;
}
.second-full-display {
    position: absolute;
    height: fit-content;
    width: fit-content;
    bottom: auto;
    right: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    cursor: auto;
}
.forget-password-area {
    display: block;
    text-align: center;
    background: rgba(173, 173, 173, 0.1);
    box-shadow: 0 0 2px rgb(0 0 0 / 80%);
    padding: 10px 15px;
    border-radius: 2px;
    position: relative;
    height: 65px;
    width: 320px;
}
.forget-password-area .first-part {
    font-size: 14px;
}
